<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{{box.title}}}</h4>
        </div>

        <div class="modal-body">{{{box.body}}}</div>

        {{#box.button}}
        <div class="modal-footer">
            {{{box.button}}}
        </div>
        {{/box.button}}
    </div>
</div>