<!DOCTYPE HTML>
<html>
<head>
    <title>Project Omega</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.slate.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/form-elements.css" />
</head>
<body>
    {{{layout.body}}}
</body>
</html>